$success:rgb(121, 121, 18);
@import "bootstrap/scss/bootstrap.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
    button{
        background-color: pink;
        border-radius: 15px;
        padding: 10px;
    }
}